<div id="<%= dom_id workout %>">
  <p>
    <strong>Name:</strong>
    <%= workout.name %>
  </p>
  <p>
    <strong>Started At:</strong>
    <%= workout.started_at&.to_fs(:timestamp) %>
  </p>
  <p>
    <strong>Completed At:</strong>
    <%= workout.completed_at&.to_fs(:timestamp) %>
  </p>
</div>
