<div class="d-flex mb-3 align-items-end">
  <h1 class="mb-0 me-3"><%= t(".title") %></h1>
  <%= link_to(t(".create_workout"), new_workout_path, class: "btn btn-primary") %>
</div>
<div id="workouts">
  <% @workouts.each do |workout| %>
    <%= render("workout_card", workout:) %>
  <% end %>
</div>
