<h1 class="display-3 mb-5"><%= t(:app_name) %></h1>
<h2><%= t(".recent_workouts") %></h2>
<div id="workouts">
  <% @recent_workouts.each do |workout| %>
    <div class="card mb-3">
      <div class="card-body">
        <%= render workout %>
        <%= link_to t(".view_workout"), workout, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
