<h1 class="display-3 mb-4"><%= t(:app_name) %></h1>

<div class="d-flex align-items-center flex-column">
  <%= link_to(t(".fitness"), fitness_path, class: "btn btn-lg btn-primary mb-4 w-50") %>
  <%= link_to(t(".wishlists"), wishlists_path, class: "btn btn-lg btn-primary mb-4 w-50") %>
  <%= link_to(t(".nutrition"), nutrition_path, class: "btn btn-lg btn-primary mb-4 w-50") %>
</div>
