<h1>New workout category</h1>

<%= render "form", workout_category: @workout_category, cancel_path: workout_categories_path %>

<br>

<div>
  <%= link_to "Back to workout categories", workout_categories_path %>
</div>
