= link_to(t(".back"), serving_units_path, class: "mb-3 btn btn-primary")
%h1.mb-3
  - if @serving_unit.abbreviated?
    = @serving_unit.name
    (#{@serving_unit.abbreviated_name})
  - else
    = @serving_unit.name
