.card.mb-3
  .card-body
    = simple_form_for exercise_type_tag do |f|
      = f.input :name, input_html: { autofocus: true }
      = f.submit class: "btn btn-primary"
      = link_to t(:cancel), exercise_type_tags_path, class: "btn btn-secondary"
