<%= turbo_frame_tag(wishlist) do %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="d-flex align-items-center">
          <h3 class="mb-0 me-2"><%= wishlist.name %></h3>
        </div>

        <div class="d-flex align-items-center">
          <%= link_to(wishlist, class: "btn btn-secondary me-2", data: { turbo_frame: "_top" }) do %>
            <i class="bi bi-arrows-angle-expand"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
