<%= turbo_frame_tag exercise_set do %>
  <div class="row border-bottom border-secondary p-2">
    <div class="col d-flex align-items-center">
      <div class="ps-2"><%= number_with_precision(exercise_set.weight, strip_insignificant_zeros: true) %></div>
    </div>
    <div class="col d-flex align-items-center">
      <div class="ps-2"><%= exercise_set.repetitions %></div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <%= link_to(edit_workout_exercise_exercise_set_path(workout, exercise, exercise_set),
                    data: { turbo_frame: dom_id(exercise_set) },
                    class: "btn me-2") do %>
          <i class="bi bi-pencil"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
