= turbo_stream.update nested_dom_id(@exercise, ExerciseSet.new) do
  .pt-2
    = link_to t("exercises.exercise.create_exercise_set"), |
      [:new, @workout, @exercise, :exercise_set],          |
      class: "btn btn-primary"                             |
= turbo_stream.append nested_dom_id(@exercise, "exercise_sets") do
  = render @exercise_set, workout: @workout, exercise: @exercise
