<h1 class="mb-3"><%= t(".title") %></h1>
<%= turbo_frame_tag nested_dom_id(@exercise, @exercise_set) do %>
  <%= render "form", exercise_set: @exercise_set, exercise: @exercise, workout: @workout %>
<% end %>
