<%= turbo_frame_tag exercise do %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex align-items-center mb-3">
        <h5 class="h5 mb-0 flex-grow-1"><%= exercise.exercise_type.name %></h5>
        <%= link_to t(:edit), edit_workout_exercise_path(workout, exercise), class: "btn btn-secondary me-2" %>
        <%= button_to t(:destroy),
                      [workout, exercise],
                      method: :delete,
                      form: { data: { turbo_confirm: t(".destroy_confirmation") } },
                      class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
