<li class="nav-item">
  <%= link_to t("navbar.golf.golf"),
      golf_path,
      class: "nav-link #{active_class(golf_path)}",
      "aria-current": "page"
  %>
</li>

<li class="nav-item">
  <%= link_to t("navbar.golf.putting_practice_sessions"),
      putting_practice_sessions_path,
      class: "nav-link #{active_class(putting_practice_sessions_path)}",
      "aria-current": "page"
  %>
</li>
