%li.nav-item
  = link_to t("navbar.wishlists.wishlists"),           |
    wishlists_path,                                    |
    class: "nav-link #{active_class(wishlists_path)}", |
    "aria-current": "page"                             |
